/*DEFAULT STYLES*/
.alert {
    position: absolute;
    top:0;
}

.alert-danger {
    background: red;
    padding: .5em;
    border-radius: 0 0 .7em  0;
}

.alert-success {
    background: green;
}

/*...*/